body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .navbar {
        background-color:  rgb(235, 235, 255);
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav{
        display: flex;
        justify-content: space-evenly;
    }
    .logo {
        margin-left: 80px;
        background-color: black;
        padding: 0px 20px;
        border-radius: 5px;
        font-size: 13px;
    }

    .logo span {
        color: rgb(255, 170, 0);
    }

    .menu-toggle {
        display: none;
        cursor: pointer;
        font-size: 24px;
    }


    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .menu li {
        margin-right: 20px;
    }

    .menu a {
        text-decoration: none;
        color: #000;
    }

    .user-button button {
        font-weight: bold;
        background-color: rgb(240, 170, 19);
        color: #fff;
        border: none;
        /* padding: 10px 30px ; */
        border-radius: 40px;
        cursor: pointer;
        height: 45px;
        padding-left: 50px;
        padding-right: 26px;

    }

    .user{
        background-color: black;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        transform: translateX(44px);
        /* transform: translate(2px) */
    }
    /* Responsive Adjustments */
    @media (max-width: 768px) {
        .menu-toggle {
            display: block;
        }

        .menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            background-color: rgb(218, 238, 232);
            width: 100%;
            text-align: center;
        }

        .menu.active {
            display: flex;
        }

        .menu li {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }



    .search-container {
        display: flex;
        align-items: center;
    }

    .search-bar {
        display: flex;
        background-color: rgb(226, 224, 224);
        margin-top: 20px;
        margin-left: 120px;
        width: 500px;
        height: 40px ;

    }

    input[type="text"] {
        padding: 10px;
        border: none;

        outline: none;
        background-color: rgb(226, 224, 224);

    }


    #search-button {
        background-color: #009688;
        border: none;
        color: #fff;
        padding: 10px 15px;


        background-color: rgb(226, 224, 224);

    }

    .fa-search {
        font-size: 16px;
    }

    .custom-button {
        background-color: rgb(30, 12, 46); /* Background color for the buttons */
        width: 150px;
        height: 45px ;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 30px; /* Adjust the margin as needed */
    }

    .custom-button:hover {
        background-color: #007770;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: rgb(255, 250, 250);
    }

    .ads {
        margin-left: 120px;
        margin-right: 120px;
    }

    .sort {
        margin-left: 140px;
    }
    .btn3 {
    height: 40px;
    width: 110px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.options-dropdown {
    height: 30px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.submit-btn {
    height: 40px;
    width: 80px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

    .btn4, .btn5, .btn6 {
        height: 40px;
        width: 110px;
        border: 1px solid black;
        border-radius: 6px;
        cursor: pointer;
    }

    .btn4 {
        margin-left: 10px;
    }

    .btn5 {
        margin-left: auto;
        border: none;
        background-color: rgb(202, 221, 215);
    }

    .btn6 {
        cursor: pointer;
        margin-left: 10px;
        border: 3px solid black;
        border-radius: 6px;
        background-color: rgb(30, 12, 46);
        color: white;
    }

    .btn6 i {
        color: white;
    }

    /* Responsive Adjustments */
    @media (max-width: 768px) {
        .container {
            flex-direction: column;
        }

        .btn3, .btn4, .btn5, .btn6,.buttone {
            width: 100%;
            margin: 10px 0;
        }
    }

    .btn6:hover{
        background-color: #1e1919;
    }

    .photosession{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .product-card {

        margin-left: 120px;
        width: 300px;
  /* border: 1px solid #121111; */
        border-radius: 5px;
        padding: 20px;
        background-color: #fff;
        box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 70px ;
    }

    .product-title {
        font-size: 18px;
        margin: 10px 0;
        display: inline-block;
    }

    .product-description {
        font-size: 12px;
        color: #555;
    }

    .product-price {
        font-size: 20px;
        color: #0d0d0d;
        margin: 10px 0;
    }

    .product-button {
        background-color: #009688;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .product-button:hover {
        background-color: #007770;
    }

    .title{
        display: flex;
        justify-content: space-between;
    }
    .bb{
        display: flex;
        justify-content: space-evenly;
    }
    .heart,.share{
        border:none;
        display: inline-block;
        background-color: white;
        font-size: 22px;
        cursor: pointer;
    }
    .heart:hover{
        color: red;
    }
    .heart:active{
        color: red;
    }
    .share:hover{
        color: blue;
    }
    .info{
        display: flex;
        justify-content: space-between;
    }
    .bed{
        margin-left: 30px;
        font-size: 15px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .bath{
        font-size: 15px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .btns{
        display: flex;
        justify-content: space-between;
    }
    .map-button{
        border-radius: 10px;
        height: 28px;
        width: 80px;
        cursor: pointer;
    }
    .map-button:hover{
        background-color:yellow;
    }
    .footer {
        background-color: rgb(16, 16, 43);
        color: #fff;
        padding: 30px 0;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-section {
        padding: 20px;
    }

    .footer-section h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .footer-section p {
        font-size: 1em;
        margin-bottom: 10px;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

    .footer-section li {
        margin-bottom: 10px;
    }

     .contact a {
        text-decoration: none;
        color: rgb(255, 170, 0);
    }

    @media (max-width: 768px) {
        .footer-content {
            flex-direction: column;
            align-items: center;
        }
        .footer-section {
            text-align: center;
        }
    }
    #H_icon:hover{
       color: red;
    }
.hh{
    background-color: white;
    border: none;
    color: red;
    font-size: 22px;
    cursor: pointer;
}


.photo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    margin-top: 40px;
}

.photo1 {
    width: 1000px;
}

.photohalf {
    width: 70%;
    margin-left: 220px;
}

.photo2 {
    width: 1000px;
}

.photoquarter {
    height: 200px;
    width: 300px;
}

@media screen and (max-width: 1200px) {
    .photo-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .photohalf,
    .photoquarter {
        width: 60%;
        margin-left: 100px;

    }
}

@media screen and (max-width: 600px) {
    .photo1,
    .photo2 {
        width: 100%;
    }
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76%;
    margin-left: 210px;
}
.content{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
   margin-bottom: 100px;
}
.leftcontent{
    width: 50%;
    margin-left: 220px;
    margin-top: 40px;
}
.amenities{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width:67%;
}
.rightcontent{
    width:50%;

}
.card {
    width: 60%;
    background-color: #fff;
    border-radius: 18px;
    overflow: hidden;
    margin: 30px auto;
    padding: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    padding: 15px;
    background-color: rgb(35, 35, 82);
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.card-header p{
    font-size: 14px;
}

.card-content {
    padding: 13px;
    background-color:  rgb(235, 235, 255);
}

.colour{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: rgb(229, 117, 158);
}
.colour1{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: rgb(117, 139, 229);
}
.colour2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: rgb(117, 229, 138);
}
.colour3{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: rgb(229, 216, 117);
}
.review{
    display: flex;
    align-items: center;
}
.feedback{
    margin-left: 40px;
    border: none;
    width: 400px;
    height: 50px;
    background-color: white;
    padding-left: 20px;
    border-radius: 5px;

}
.write{
    margin-top: 10px;
}
.text{
    margin-top: 30px;
   margin-bottom: 20px;
}
.text input{
    width: 95%;
    border-radius: 5px;
    background-color: white;
    height: 30px;

}
.book{
 width: 300px;
 border-radius: 30px;
 background-color: rgb(62, 138, 62);
 height: 40px;
 border: none;
 color: white;
 font-size: 17px;
 cursor: pointer;
}

.book:hover{
 background-color: rgb(105, 173, 105);
}.book:active{
 background-color: rgb(163, 197, 163);

}
.bookbtn{
    margin: auto 250px ;
    padding: auto;
}
@media screen and (max-width: 1000px){

    .bookbtn {
        margin:  auto 100px;
    }
}
@media screen and (max-width: 600px) {
    .buttons {
        display: flex;
        flex-wrap: wrap ;
        width: 100%;
        margin: 10px 0;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .leftcontent {
        width: 80%;
        margin-left: 5%;
    }

    .amenities {
        width: 75%;
        margin-top: 20px;
    }

    .rightcontent {
        width: 80%;
    }

    .card {
        width: 100%;
    }

    .bookbtn {
        margin:  auto 50px;
    }
}

.userimg{
    border-radius: 50%;
    width: 140px;
    height: 130px;
}
.username{
    display: flex;
    width: 300px;
    justify-content: space-between;

    align-items: center;
    margin-top: 60px;
}
.userphoto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1560px;
}
.properties{
    margin-top: 150px;
    width: 230px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: rgb(240, 170, 19);
    color: white;
}
.butts{
    margin-bottom: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 660px;
    margin-left: 556px;
}
.infos{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 300px; */
}
.infocard{
    padding: auto;
    margin: auto;
    width: 870px;
    height: 300px;
    background-color: rgb(229, 235, 241);
    margin-bottom: 70px;
    border-radius: 10px;
}
.userinfo{
    margin-left: 100px;

}
.name{

    display: flex;
    align-items: center;
    margin-left: 210px;
}
.userinput{
    margin-top: 30px;
    margin-left: 10px;
    width: 400px;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.infobutt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-left: 270px;
    margin-top: 40px;
}
.pass{
    height: 35px;
    width: 170px;
    border-radius: 50px;
    background-color: rgb(222, 207, 207);
    border: none;
    cursor: pointer;
}
#update{
    height: 35px;
    width: 170px;
    border-radius: 40px;
    background-color:rgb(84, 220, 84);
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .userphoto {
        flex-direction: column;
        align-items: center;
    }

    .butts {
        width: 100%;
        margin-left: 0;
        justify-content: space-evenly;
    }

    .infocard {
        width: 100%;
    }

    .name {
        margin-left: 0;
        justify-content: center;
        text-align: center;
    }

    .userinput {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .infobutt {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .username {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .userphoto {
        width: 100%;
        padding: 20px;
    }

    .butts {
        margin-top:30px;
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    .infocard {
        width: 100%;
        height: 100%;
    }
    .infos{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .name {
        margin-left: 0;
        justify-content: center;
        text-align: center;
    }

    .userinput {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .infobutt {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
.move{
   margin-left: 70px;
}


.homeimg{
    width:100%;
    height: 50%;
}